# comment
*/6 * * * * * echo starting ;sleep 1; echo "hola";echo "hierr" >&2 ;sleep 20; echo "bye"
0,30 * * * * * echo "second 1 and 30 of each  minute"
* * * * * 6 echo "second 1 and 30 of each  minute"
